.header1 {
    max-height: 1900px;
    order: 12;
    font-size: 4rem;
    border: 5px dashed white;
    border-left: 9px dotted white;
    border-right: 6px dashed white;
    border-bottom: 3px double white;
    border-top: 1px solid white;
    border-top-left-radius: 100px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 90%;
}
.div1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: visible;
    background-color: #ffc6c6;
}
.header2 {
    margin: 1px;
    padding: 23px;
    font-family: Monaco, monospace;
    font-size: 2rem;
    line-height: 5;
    font-style: italic;
    color: #1c7180;
}
.div2 {
    background-color: #ffcaca;
}
.div3 {
    background-color: #eb9090;
    direction: ltr;
    text-shadow: 7.69px 6.39px 2px #054254;
}
.div4 {
    text-shadow: 4.61px 3.83px 34px #054254;
}
.div5 {
    font-size: var(--biggy);
    background-color: var(--blublu);
    font-family: var(--monacococococo);
}
.img1 {
    max-width: 150px;
    max-height: 150px;
}
